/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

html {
    font-size: 100%;
}

:root {
    --primary-color: #E9ECEF;
    --primary-color: #E9ECEF;
    --dark-color: #212529;
    --secondary-color: #DEE2E6;
    --bg-light: #E9ECEF;
    --bg-medium: #CED4DA;
    --bg-dark: #ADB5BD;
    --btn-primary: #0077C2;
    --btn-danger: #FF0000;
    --btn-success: #10B202;
    --completed-color: #ADB5BD;
    --page-heading: 3rem;
    --small-para: 1rem;
    --small-weight-para: lighter;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Arial', sans-serif;
}



body {
    background: url('/assets/images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    ;
}

.header-section {
    margin: 2em 0;
    padding: 1em 0;
}

.top-heading {
    text-align: center;
}

.top-heading>h1 {
    font-size: var(--page-heading);
    color: var(--primary-color);
}

.top-heading>p {
    font-size: var(--small-para);
    font-weight: var(--small-weight-para);
    color: var(--secondary-color);
}


.task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

.main-head {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary-color);
}

.task-form {
    width: 600px;
}

::-webkit-input-placeholder {
    color: var(--completed-color);
}

.task-input {
    outline: none;
    border: none;
    width: 100%;
    margin: 1em 0 0 0;
    height: 40px;
    padding: .5em 1em;
    color: var(--dark-color);
    background-color: var(--bg-light);
    transition: .3s;
}

.task-input:focus {
    color: var(--bg-light);
    background-color: var(--dark-color);
}

.priority-container {
    position: relative;
    cursor: pointer;
}

.show-priority-menu {
    color: var(--completed-color);
    cursor: pointer;
}

.drop-icon {
    position: absolute;
    top: 13px;
    right: 0px;
    background-color: var(--bg-dark);
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priority-menu {
    background-color: var(--bg-light);
    padding: .5em;
    border-top: 1px solid var(--bg-dark);
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: .2s;
}

.items {
    transition: .4s;
    padding: .5em;
    cursor: pointer;
    border-bottom: 1px solid var(--bg-dark);
    margin: 0.5em;
}

.items:hover {
    background-color: var(--bg-dark);
}

.drop-icon {
    font-size: 1.2rem;
}

.add-btn {
    background-color: var(--btn-primary);
    color: var(--primary-color);
    font-size: 1.2rem;
    padding: .5em 0;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.add-btn:hover {
    background-color: #005f9a;
}

.save {
    display: none;
    background-color: green;
}

.table-container {
    min-width: 200px;
    width: 600px;
    padding: .5em;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-medium);
    padding: .5em;
}

nav {
    display: flex;
    gap: 10px;
}

.nav-links {
    text-decoration: none;
    color: var(--dark-color);
    padding: .5em;
    transition: .4s;
}

.active {
    background-color: var(--bg-dark);
}

.nav-links:hover {
    background-color: var(--bg-dark);
}

.clear {
    outline: none;
    border: none;
    background-color: var(--btn-danger);
    color: var(--primary-color);
    padding: .5em;
    cursor: pointer;
    transition: .3s;
}

.clear:hover {
    background-color: #da0000;
}

.table-wrapper {
    background-color: var(--bg-light);
    height: 150px;
    max-height: 150px;
    overflow: auto;
}

.table-content {
    width: 100%;
    border-collapse: collapse;
    /* display: none; */
}

tr>th {
    text-align: start;
    /* background-color: var(--bg-dark); */
    padding: .5em;
    font-size: 1rem;
}

tr>td {
    font-size: 1rem;
    /* width: 100%; */
    padding: 1em .5em;
    border-bottom: 1px solid var(--bg-dark);
}

td>i {
    font-size: 1.1rem;
    margin: 0 .3em;
    cursor: pointer;
    transition: .1s;
}

.edit {
    color: var(--btn-primary);
}

.delete {
    color: var(--btn-danger);
}

.completed {
    color: var(--btn-success);
}

td>i:hover {
    opacity: .6;
}

.items-container {
    display: none;
}

.active-items {
    display: table-row-group;
}

/*  */
.priority-important {
    color: red;
}

.priority-less-important {
    color: #005f9a;
}

.line-through {
    text-decoration: line-through;
}


/* @ */
@media screen and (max-width:730px) {
    html {
        font-size: 80%;
    }

    .top-heading>h1 {
        font-size: 2.5rem;
    }

    .main-head {
        font-size: 1.6rem;
    }

    .task-form,
    .table-container {
        width: 400px;
    }
}

@media screen and (max-width:480px) {
    html {
        font-size: 70%;
    }

    .task-form,
    .table-container {
        width: 300px;
    }

    .task-input,
    .drop-icon {
        height: 30px !important;
    }

    .clear {
        font-size: 0.9rem;
        margin-top: .2em;
        padding: .2em;

    }
    .clear-all{
        margin: 0 0 0 2em ;
    }
}

@media screen and (max-width:390px) {
    html {
        font-size: 65%;
    }

    .top-heading>h1 {
        font-size: 1.8rem;
    }

    .main-head {
        font-size: 1.3rem;
    }

    .top-heading>p {
        font-size: .8rem;
    }

    .task-form,
    .table-container {
        width: 250px;
    }

    .task-input,
    .drop-icon {
        height: 20px !important;
    }

    .completed {
        margin: .5em .3em;
    }
}
